# Игнорируем все файлы сертификатов и ключей
*.crt
*.key
*.csr
*.pem
*.p12
*.pfx
*.der

# Игнорируем файлы с секретными данными
*.secret

# Игнорируем стандартные файлы Kubernetes Secret (если они не зашифрованы)
secret-tls.yaml
task2/secret-tls.yaml

